---
import type { CollectionEntry } from "astro:content";
import PostCard from "@/components/PostCard";
import { cn } from "@/utils";

type Props = {
  allPosts: CollectionEntry<"blog">[];
  indexPage?: boolean;
};

const { allPosts, indexPage = false } = Astro.props;
const indexPageNewPosts: CollectionEntry<"blog">[] = allPosts.slice(
  0,
  allPosts.length > 2 ? 3 : allPosts.length
);
const [a, b, ...indexPageOtherPosts] = allPosts;
const showedPosts: CollectionEntry<"blog">[] = indexPage
  ? indexPageOtherPosts
  : allPosts;
---

<section
  class={cn(`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`)}
>
  {
    showedPosts.map(async (post) => {
      const { remarkPluginFrontmatter } = await post.render();

      return (
        <PostCard
          id={post.id}
          data={post.data}
          slug={post.slug}
          readTime={remarkPluginFrontmatter.minutesRead}
        />
      );
    })
  }
</section>
